$main_color: hsl(26, 100%, 55%);

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;800&display=swap");

@mixin flex {
    display: flex;
    align-items: center;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

header,
main {
    width: 80%;
    margin: auto;
}
main > div {
    padding: 3em;
}

header {
    .ert {
        position: relative;
        .nbr {
            background-color: orange;
            position: absolute;
            width: 110%;
            text-align: center;
            color: white;
            border-radius: 50px;
            top: -0.7em;
            right: -1em;
        }
    }

    img#logo {
        padding-bottom: 2em;
    }

    border-bottom: 1px solid rgb(186, 186, 186);
    margin-bottom: 2em;
    // padding-bottom: 2em;

    nav {
        flex-basis: 40%;

        ul {
            list-style: none;
            margin: 0;

            @include flex;

            li {
                border-bottom: 3px solid transparent;
                cursor: pointer;

                padding: 1em;
                padding-bottom: 3em;
                &:hover {
                    border-bottom: 3px solid $main_color;
                }
            }
        }
    }
    @include flex;
    justify-content: space-between;

    .user {
        justify-content: space-around;
        flex-basis: 20%;
    }
}

.flex {
    @include flex;
}

//Flex basis
@for $i from 1 through 20 {
    $flexbasis: 5% * $i;
    .fb-#{$i * 5} {
        flex-basis: $flexbasis;
    }
}
img {
    width: 100%;
}
.img_product {
    img {
        border-radius: 10px;
    }
    .flex {
        margin: 2em auto;
        justify-content: space-between;
        width: 100%;

        div {
            flex-basis: 20%;

            img {
                cursor: pointer;
            }
        }
    }
}
.description_product {
    button.cartButton {
        background-color: $main_color;
        padding: 1em;
        border: 0;
        font-weight: 600;
        color: white;
        font-size: 1.1em;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

        text-align: center;
        img {
            width: 100%;
        }
    }
    button.nbr {
        background-color: transparent;
        border: none;
        padding: 2em;
        font-weight: 800;
        font-size: 1.2em;
        color: $main_color;
    }
    h3 {
        color: $main_color;
    }
    h2 {
        font-size: 3em;
    }
    h4 {
        font-size: 2em;
    }
    .reduction {
        font-size: 1em;
    }
    p {
        line-height: 2em;
    }
    .price {
        font-size: 2em;
    }
}
.barre {
    text-decoration: line-through;
}

.cart {
    ul {
        list-style: none;
        padding: 0;
        line-height: 2em;
        color: rgb(81, 81, 81);
    }

    display: none;
    position: absolute;
    right: 10em;
    top: 4em;
    background-color: white;
    width: 30%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 15px;

    h3 {
        border-bottom: 1px solid silver;
        padding: 1.1em;
    }
    .product {
        padding: 7em;
        text-align: center;
        font-weight: bolder;
        color: gray;
    }

    .miniature {
        padding: 1em;
        img {
            border-radius: 10px;
        }
    }

    .delete {
        padding: 1em;
    }
    .price {
        font-weight: bold;
        font-size: 1.2em;
    }
}

.cardBtn {
    cursor: pointer;

    &:hover {
        .cart {
            display: block;
        }
    }
}

.popup-img-product {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.831);
    top: 0;
    left: 0;
    height: 100%;

    .img_product {
        width: 30%;
        margin: auto;

        .first_image {
            position: relative;
            height: 80%;

            .ctrl {
                position: absolute;
                justify-content: space-between;
                top: 45%;
                left: 0;
                margin: auto;

                .slideBtn {
                    background-color: white;
                    margin: auto;
                    border-radius: 150px;
                    padding: 1em;
                    width: 2em;
                    height: 2em;
                }

                .left {
                    transform: rotate(180deg);
                }
            }
            .ctrl > div {
                text-align: center;
            }
        }
    }
}
.popup-actif {
    display: none;
}

.cross {
    color: white;
    font-weight: bold;
    margin: 0.3em;
    font-size: 1.2em;
    float: right;
    z-index: 999;
}
button {
    cursor: pointer;
}
#nbrProduct {
    border: 1px solid rgb(181, 181, 181);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    border-radius: 7px;
}
